<div class="container" id="expense">
    <title>BUDGET</title>
    <br>
    <br>
    <br>

    <h1 class="hh1">STUDENT BUDGET</h1>

    <hr>

    <br>
    <form action="/income" method="POST">
        <div>
            <h5>MAKE BUDGET</h5>
            <input type="number" name="income">

        </div>
        <br>
        <a href="/budget"><button class="button-primary " id="print" type="submit" name="button">Confirm</button> </a>
    </form>
</div>